<div class="container">
            <div class="row">
                <div class="card col-sm">
                    <h4 class="card-header">Post Title</h4>
                    <div class="card-body">                        
                        <h6 class="card-title text-muted">Post by and Date created</h6>
                        <p class="card-text">Some quick example text to build on the post's title and make up the bulk of the post's content.</p>
                        <a href="#" class="card-link">Update</a>
                        <a href="#" class="card-link">Delete</a>
                    </div>
                </div>
            </div>
        </div>